body {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin: 5px;
    width: 200px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 1px solid gray;
}

input:focus {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

select {
    display: block;
    margin: 5px;
    width: 206px;
    border-radius: 10px;
}